
*.csv
*.CSV
*.json
*.JSON
 

!dbt-project/seeds/condition_mapping.csv
!data/camda_clean.csv
 
# --- Credenciales y entorno ---
.env
.env.*
!.env.example
 
# --- dbt ---
target/
dbt_packages/
logs/
dbt_internal_packages/
 
# --- Python / Jupyter / editor ---
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
.vscode/
.DS_Store
 